Repository govuk-one-login/ipv-stubs, changes with the labels that .github/labeler.yml gives for each.
All labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

PYIC-8913: Add resource policy to external API so that it can be called from dev machines
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
Labels: IpvCore

PYIC-8913: Fix typo
  di-ipv-cimit-stub/lambdas/src/common/constants.ts
  di-ipv-cimit-stub/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub/lambdas/src/internal-api/post-mitigations/postMitigationsHandler.ts
  di-ipv-cimit-stub/lambdas/src/internal-api/put-contra-indicators/putContraIndicatorsHandler.ts
Labels: IpvCore

PYIC-8913: Correct comment
  di-ipv-cimit-stub/README.md
Labels: IpvCore

PYIC-8943: resolve vulnerability introduced to update-ecs-env-vars via @aws-sdk/client-sqs
  di-ipv-queue-stub/enqueue-event/package-lock.json
  di-ipv-queue-stub/enqueue-event/package.json
Labels: IpvCore

PYIC-8943: update all @aws-sdk packages to resolve fast-xml-parser vulnerability
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-queue-stub/enqueue-event/package-lock.json
  di-ipv-queue-stub/enqueue-event/package.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
  update-ecs-env-vars/package-lock.json
  update-ecs-env-vars/package.json
Labels: IpvCore, TrustAndReuse, IdentitySRE

PYIC-8943: update all @aws-sdk packages in ipv-core-stub to resolve fast-xml-parser vulnerability
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/authorizer/package-lock.json
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/authorizer/package.json
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/package-lock.json
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/package.json
  di-ipv-core-stub/deploy/cri-rest-api/authorizer/package-lock.json
  di-ipv-core-stub/deploy/cri-rest-api/authorizer/package.json
  di-ipv-core-stub/deploy/cri-rest-api/package-lock.json
  di-ipv-core-stub/deploy/cri-rest-api/package.json
Labels: Lime, Orange

PYIC-8913: Add evidence data for failed mortality check in Fraud stub
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-8913: Update secrets
  .secrets.baseline
Labels: none

BAU: update deploy-credential-issuer-stub.yml to remove use of tj-actions
  .github/workflows/deploy-credential-issuer-stub.yml
Labels: none

BAU: small README change to the di-ipv-credential-issuer-stub to trigger a deployment
  di-ipv-credential-issuer-stub/README.MD
Labels: none

BAU: add required permissions for cri deploy jobs
  .github/workflows/deploy-credential-issuer-stub.yml
Labels: none

BAU: update di-ipv-credential-issuer-stub README.MD to trigger deployment
  di-ipv-credential-issuer-stub/README.MD
Labels: none

BAU: pass secrets into nested jobs
  .github/workflows/cri-address-stub.yml
  .github/workflows/cri-bav-stub.yml
  .github/workflows/cri-claimed-identity-stub.yml
  .github/workflows/cri-dcmaw-stub.yml
  .github/workflows/cri-driving-licence-stub.yml
  .github/workflows/cri-dwp-kbv-stub.yml
  .github/workflows/cri-experian-kbv-stub.yml
  .github/workflows/cri-f2f-stub.yml
  .github/workflows/cri-fraud-stub.yml
  .github/workflows/cri-nino-stub.yml
  .github/workflows/cri-passport-stub.yml
  .github/workflows/deploy-credential-issuer-stub.yml
Labels: none

BAU: update di-ipv-credential-issuer-stubs README to trigger deployment
  di-ipv-credential-issuer-stub/README.MD
Labels: none

PYIC-8913: Add activityHistoryScore to mortality check data
  di-ipv-cimit-stub/README.md
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: IpvCore

PYIC-8913: Update secrets baseline
  .secrets.baseline
Labels: none

PYIC-8971: update *.test.ts files to use vitest instead of jest
  di-ipv-sis-stub/lambdas/src/services/sisService.ts
  di-ipv-sis-stub/lambdas/test/handlers/sisHandler.test.ts
  di-ipv-sis-stub/lambdas/test/services/sisService.test.ts
  di-ipv-sis-stub/lambdas/test/utils/tokenVerifier.test.ts
Labels: IpvCore

PYIC-8971: run npm run fix
  di-ipv-sis-stub/lambdas/test/handlers/sisHandler.test.ts
Labels: IpvCore

PYIC-8971: update BuildProperties in SAM deploy templates
  di-ipv-sis-stub/core-dev-deploy/template.yaml
  di-ipv-sis-stub/deploy/template.yaml
Labels: IpvCore

PYIC-8971: upgrade jose to v6
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-sis-stub/lambdas/test/utils/tokenVerifier.test.ts
Labels: IpvCore

PYIC-8971: upgrade to eslint >v9 so that the config can be in ESM
  di-ipv-sis-stub/lambdas/.eslintrc.mjs
  di-ipv-sis-stub/lambdas/eslint.config.mjs
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
Labels: IpvCore

PYIC-8977: Make stub VC JTIs more realistic
  di-ipv-dcmaw-async-stub/lambdas/src/domain/mockVc.ts
Labels: IpvCore

Revert "PYIC-8971: migrate SIS stub to Vitest/ESM"
  di-ipv-sis-stub/core-dev-deploy/template.yaml
  di-ipv-sis-stub/deploy/template.yaml
  di-ipv-sis-stub/lambdas/.eslintrc.js
  di-ipv-sis-stub/lambdas/babel.config.js
  di-ipv-sis-stub/lambdas/eslint.config.mjs
  di-ipv-sis-stub/lambdas/jest-dynamodb-config.js
  di-ipv-sis-stub/lambdas/jest.config.test.js
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-sis-stub/lambdas/src/services/sisService.ts
  di-ipv-sis-stub/lambdas/test/handlers/sisHandler.test.ts
  di-ipv-sis-stub/lambdas/test/services/sisService.test.ts
  di-ipv-sis-stub/lambdas/test/utils/tokenVerifier.test.ts
  di-ipv-sis-stub/lambdas/tsconfig.json
  di-ipv-sis-stub/lambdas/vitest.config.ts
Labels: IpvCore

Revert "BAU: Bump org.eclipse.jetty:jetty-xml from 9.4.52.v20230823 to 12.1.6"
  public-jwk-creator/build.gradle
Labels: IpvCore, IdentitySRE

Revert "Revert "PYIC-8971: migrate SIS stub to Vitest/ESM""
  di-ipv-sis-stub/core-dev-deploy/template.yaml
  di-ipv-sis-stub/deploy/template.yaml
  di-ipv-sis-stub/lambdas/.eslintrc.js
  di-ipv-sis-stub/lambdas/babel.config.js
  di-ipv-sis-stub/lambdas/eslint.config.mjs
  di-ipv-sis-stub/lambdas/jest-dynamodb-config.js
  di-ipv-sis-stub/lambdas/jest.config.test.js
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-sis-stub/lambdas/src/services/sisService.ts
  di-ipv-sis-stub/lambdas/test/handlers/sisHandler.test.ts
  di-ipv-sis-stub/lambdas/test/services/sisService.test.ts
  di-ipv-sis-stub/lambdas/test/utils/tokenVerifier.test.ts
  di-ipv-sis-stub/lambdas/tsconfig.json
  di-ipv-sis-stub/lambdas/vitest.config.ts
Labels: IpvCore

PYIC-8978 Bump jackson
  di-ipv-core-stub/build.gradle
  di-ipv-orchestrator-stub/build.gradle
Labels: Lime, Orange

PYIC-8978 Bump aws-sdk packages
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/authorizer/package-lock.json
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/authorizer/package.json
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/package-lock.json
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/package.json
  di-ipv-core-stub/deploy/cri-rest-api/authorizer/package-lock.json
  di-ipv-core-stub/deploy/cri-rest-api/authorizer/package.json
  di-ipv-core-stub/deploy/cri-rest-api/package-lock.json
  di-ipv-core-stub/deploy/cri-rest-api/package.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-queue-stub/enqueue-event/package-lock.json
  di-ipv-queue-stub/enqueue-event/package.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
  update-ecs-env-vars/package-lock.json
  update-ecs-env-vars/package.json
Labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

PYIC-8978 Bump package minor versions across TS projects
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-queue-stub/enqueue-event/package-lock.json
  di-ipv-queue-stub/enqueue-event/package.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
  update-ecs-env-vars/package-lock.json
  update-ecs-env-vars/package.json
Labels: IpvCore, TrustAndReuse, IdentitySRE

PYIC-8978 Fix lint failure
  di-ipv-dcmaw-async-stub/lambdas/src/domain/managementEnqueueRequest.ts
Labels: IpvCore

PYIC-8978 Add missing peer dependency
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
Labels: IpvCore

PYIC-8792: migrate EVCS stub to Vitest/ESM
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-evcs-stub/lambdas/.eslintrc.js
  di-ipv-evcs-stub/lambdas/babel.config.js
  di-ipv-evcs-stub/lambdas/eslint.config.mjs
  di-ipv-evcs-stub/lambdas/jest-dynamodb-config.js
  di-ipv-evcs-stub/lambdas/jest.config.test.js
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/src/domain/enums/StoredIdentityRecordType.ts
  di-ipv-evcs-stub/lambdas/test/evcsHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/evcsManagementHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsManagementService.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
  di-ipv-evcs-stub/lambdas/tsconfig.json
  di-ipv-evcs-stub/lambdas/vitest.config.ts
  di-ipv-evcs-stub/package-lock.json
Labels: IpvCore, TrustAndReuse

PYIC-8976: update *.test.ts files to use vitest instead of jest
  di-ipv-ais-stub/lambdas/test/handler.test.ts
Labels: IpvCore

PYIC-8976: run npm run fix
  di-ipv-ais-stub/lambdas/src/handlers/handler.ts
  di-ipv-ais-stub/lambdas/src/utils/dataLayer.ts
  di-ipv-ais-stub/lambdas/test/handler.test.ts
  di-ipv-ais-stub/lambdas/vitest.config.ts
Labels: IpvCore

PYIC-8976: upgrade to eslint >v9 so that the config can be in ESM and update eslintrc config to ESM
  di-ipv-ais-stub/lambdas/.eslintrc.js
  di-ipv-ais-stub/lambdas/eslint.config.mjs
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
Labels: IpvCore

PYIC-8976: upgrade jose to v6
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
Labels: IpvCore

PYIC-8976: re-generate package-lock.json
  di-ipv-ais-stub/lambdas/package-lock.json
Labels: IpvCore

PYIC-8972: enable aws-sdk-client-mock-vitest matchers
  di-ipv-evcs-stub/lambdas/test/services/evcsManagementService.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
  di-ipv-evcs-stub/lambdas/test/setup.ts
  di-ipv-evcs-stub/lambdas/tsconfig.json
  di-ipv-evcs-stub/lambdas/vitest.config.ts
Labels: IpvCore, TrustAndReuse

PYIC-8972: update BuildProperties in SAM deploy templates
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
Labels: IpvCore, TrustAndReuse

BAU: Remove spam messages created by sustainability scanner workflow
  .github/workflows/aws-sus-scanner.yml
Labels: none

PYIC-8972: Remove accidentally added package-lock.json
  di-ipv-evcs-stub/package-lock.json
Labels: IpvCore, TrustAndReuse

.github/labeler.yml:

Lime:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'
        - 'experian-fraud-stub/**'

Orange:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'

IpvCore:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-ais-stub/**'
        - 'di-ipv-cimit-stub/**'
        - 'di-ipv-sis-stub/**'
        - 'di-ipv-evcs-stub/**'
        - 'di-ipv-ticf-stub/**'
        - 'di-ipv-credential-issuers-stub/**'
        - 'di-ipv-dcmaw-async-stub/**'
        - 'di-ipv-queue-stub/**'
        - 'public-jwk-creator/**'

TrustAndReuse:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-evcs-stub/**'

IdentitySRE:
  - changed-files:
      - any-glob-to-any-file:
        - 'update-ecs-env-vars/**'
        - 'public-jwk-creator/**'
