Repository govuk-one-login/ipv-stubs, changes with the labels that .github/labeler.yml gives for each.
All labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

PYIC-8458: Execute npm run fix.
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Update readme
  di-ipv-evcs-stub/README.md
Labels: IpvCore, TrustAndReuse

PYIC-9002: Add new handlers
  .secrets.baseline
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-evcs-stub/lambdas/src/domain/enums/statusCodes.ts
  di-ipv-evcs-stub/lambdas/src/handlers/createHandler.ts
  di-ipv-evcs-stub/lambdas/src/handlers/updateHandler.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/test/handlers/createHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/handlers/updateHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
  di-ipv-evcs-stub/openAPI/evcs-external.yaml
Labels: IpvCore, TrustAndReuse

PYIC-9009: Review fixes
  di-ipv-evcs-stub/lambdas/src/domain/enums/statusCodes.ts
  di-ipv-evcs-stub/lambdas/src/domain/enums/vcState.ts
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/test/handlers/updateHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: To be amended
  di-ipv-evcs-stub/lambdas/src/common/utils.ts
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
  di-ipv-evcs-stub/lambdas/src/services/validateVcsStateTransitions.ts
Labels: IpvCore, TrustAndReuse

PYIC-9024: upgrade vitest, @vitest/coverage-v8, typescript-eslint and @typescript-eslint/parser in TICF stub
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore

PYIC-9024: upgrade vitest, @vitest/coverage-v8, typescript-eslint and @typescript-eslint/parser in DCMAW async stub
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
Labels: IpvCore

PYIC-9024: upgrade vitest, @vitest/coverage-v8, typescript-eslint and @typescript-eslint/parser in EVCS stub
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

PYIC-9024: upgrade vitest, @vitest/coverage-v8, typescript-eslint and @typescript-eslint/parser in SIS stub
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
Labels: IpvCore

PYIC-9002: Add ACCOUNT_DELETED state
  di-ipv-evcs-stub/lambdas/src/domain/enums/vcState.ts
  di-ipv-evcs-stub/lambdas/test/handlers/evcsHandler.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Fix test name
  di-ipv-evcs-stub/lambdas/test/handlers/updateHandler.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Remove body from 204 response
  di-ipv-evcs-stub/openAPI/evcs-external.yaml
Labels: IpvCore, TrustAndReuse

PYIC-9002: Update secrets
  .secrets.baseline
Labels: none

PYIC-9009: Fix and tidy up service responses
  di-ipv-evcs-stub/lambdas/src/domain/serviceResponse.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-9009: Add new invalidate handler
  di-ipv-evcs-stub/README.md
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-evcs-stub/lambdas/src/domain/requests/invalidateRequest.ts
  di-ipv-evcs-stub/lambdas/src/handlers/invalidateHandler.ts
  di-ipv-evcs-stub/lambdas/test/handlers/invalidateHandler.test.ts
  di-ipv-evcs-stub/openAPI/evcs-external.yaml
Labels: IpvCore, TrustAndReuse

PYIC-9009: Fix error response definition
  di-ipv-evcs-stub/openAPI/evcs-external.yaml
Labels: IpvCore, TrustAndReuse

PYIC-8458: Update POST /identity endpoint.
  di-ipv-evcs-stub/lambdas/src/common/utils.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/identityEndpointRequests.ts
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/test/handlers/evcsHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
  di-ipv-evcs-stub/openAPI/evcs-external.yaml
Labels: IpvCore, TrustAndReuse

PYIC-8458: Update README.md
  di-ipv-evcs-stub/README.md
Labels: IpvCore, TrustAndReuse

PYIC-8458: Remove duplicated function from utils.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Change the order of validation.
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Run lint.
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Create invalidTransitions object to generate dynamically invalid state transitions.
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Optimise validateVcsStateTransitions function.
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Optimise isValidJwt functions.
  di-ipv-evcs-stub/lambdas/src/common/utils.ts
  di-ipv-evcs-stub/lambdas/test/handlers/evcsHandler.test.ts
Labels: IpvCore, TrustAndReuse

BAU: Remove dev config
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/handlers/IpvHandler.java
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/utils/JwtBuilder.java
Labels: none

PYIC-9002: Update PATCH /vcs endpoint.
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Optimise object transformation
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Add test cases to cover all transitions between the states.
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Update valid state transition object to include all transitions.
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Remove unwanted comment.
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

Revert "BAU: Bump com.nimbusds:oauth2-oidc-sdk from 11.34 to 11.37"
  di-ipv-core-stub/build.gradle
  di-ipv-credential-issuer-stub/build.gradle
  di-ipv-orchestrator-stub/build.gradle
Labels: Lime, Orange

SPT-1904: Migrated TART Hosted Zone to shared stk
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
Labels: IpvCore, TrustAndReuse

BAU: Add explicit dependency on @aws-sdk/client-ssm
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

Revert "BAU: Bump org.projectlombok:lombok from 1.18.44 to 1.18.46"
  di-ipv-credential-issuer-stub/build.gradle
Labels: none

Change CODEOWNERS from ID-SRE to REX
  CODEOWNERS
Labels: none

PYIC-9116: Bump software.amazon.awssdk to 2.44.7
  di-ipv-credential-issuer-stub/build.gradle
Labels: none

PYIC-9116: Bump @opentelemetry/api to "^1.9.0"
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package-lock.json
Labels: IpvCore, TrustAndReuse

PYIC-9022: Add new Kenneth Decerqueira data.
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/data/CriStubDataF2f.java
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/data/Passports.java
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-9131: Double loadbalancer healthcheck timeout
  di-ipv-credential-issuer-stub/core-dev-deploy/address/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/bav/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/claimed-identity/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/dcmaw/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/driving-licence/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/dwp-kbv/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/error-testing-1/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/error-testing-2/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/experian-kbv/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/face-to-face/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/fraud/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/nino/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/passport/template.yaml
  di-ipv-credential-issuer-stub/deploy/address/template.yaml
  di-ipv-credential-issuer-stub/deploy/bav/template.yaml
  di-ipv-credential-issuer-stub/deploy/claimed-identity/template.yaml
  di-ipv-credential-issuer-stub/deploy/dcmaw/template.yaml
  di-ipv-credential-issuer-stub/deploy/driving-licence/template.yaml
  di-ipv-credential-issuer-stub/deploy/dwp-kbv/template.yaml
  di-ipv-credential-issuer-stub/deploy/error-testing-1/template.yaml
  di-ipv-credential-issuer-stub/deploy/error-testing-2/template.yaml
  di-ipv-credential-issuer-stub/deploy/experian-kbv/template.yaml
  di-ipv-credential-issuer-stub/deploy/face-to-face/template.yaml
  di-ipv-credential-issuer-stub/deploy/fraud/template.yaml
  di-ipv-credential-issuer-stub/deploy/nino/template.yaml
  di-ipv-credential-issuer-stub/deploy/passport/template.yaml
Labels: none

PYIC-9131: Allow manual triggering of stub deployment
  .github/workflows/deploy-credential-issuer-stub.yml
Labels: none

.github/labeler.yml:

Lime:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'
        - 'experian-fraud-stub/**'

Orange:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'

IpvCore:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-ais-stub/**'
        - 'di-ipv-cimit-stub/**'
        - 'di-ipv-sis-stub/**'
        - 'di-ipv-evcs-stub/**'
        - 'di-ipv-ticf-stub/**'
        - 'di-ipv-credential-issuers-stub/**'
        - 'di-ipv-dcmaw-async-stub/**'
        - 'di-ipv-queue-stub/**'
        - 'public-jwk-creator/**'

TrustAndReuse:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-evcs-stub/**'

IdentitySRE:
  - changed-files:
      - any-glob-to-any-file:
        - 'update-ecs-env-vars/**'
        - 'public-jwk-creator/**'
