Repository govuk-one-login/ipv-stubs, changes with the labels that .github/labeler.yml gives for each.
All labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

.github/labeler.yml:

Lime:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'
        - 'experian-fraud-stub/**'

Orange:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'

IpvCore:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-ais-stub/**'
        - 'di-ipv-cimit-stub/**'
        - 'di-ipv-sis-stub/**'
        - 'di-ipv-evcs-stub/**'
        - 'di-ipv-ticf-stub/**'
        - 'di-ipv-credential-issuers-stub/**'
        - 'di-ipv-dcmaw-async-stub/**'
        - 'di-ipv-queue-stub/**'
        - 'public-jwk-creator/**'

TrustAndReuse:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-evcs-stub/**'

IdentitySRE:
  - changed-files:
      - any-glob-to-any-file:
        - 'update-ecs-env-vars/**'
        - 'public-jwk-creator/**'

PYIC-9131: Increase stub health check timeout to 30s
  di-ipv-credential-issuer-stub/core-dev-deploy/address/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/bav/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/claimed-identity/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/dcmaw/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/driving-licence/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/dwp-kbv/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/error-testing-1/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/error-testing-2/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/experian-kbv/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/face-to-face/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/fraud/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/nino/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/passport/template.yaml
  di-ipv-credential-issuer-stub/deploy/address/template.yaml
  di-ipv-credential-issuer-stub/deploy/bav/template.yaml
  di-ipv-credential-issuer-stub/deploy/claimed-identity/template.yaml
  di-ipv-credential-issuer-stub/deploy/dcmaw/template.yaml
  di-ipv-credential-issuer-stub/deploy/driving-licence/template.yaml
  di-ipv-credential-issuer-stub/deploy/dwp-kbv/template.yaml
  di-ipv-credential-issuer-stub/deploy/error-testing-1/template.yaml
  di-ipv-credential-issuer-stub/deploy/error-testing-2/template.yaml
  di-ipv-credential-issuer-stub/deploy/experian-kbv/template.yaml
  di-ipv-credential-issuer-stub/deploy/face-to-face/template.yaml
  di-ipv-credential-issuer-stub/deploy/fraud/template.yaml
  di-ipv-credential-issuer-stub/deploy/nino/template.yaml
  di-ipv-credential-issuer-stub/deploy/passport/template.yaml
Labels: none

PYIC-9131: Increase healthcheck interval
  di-ipv-credential-issuer-stub/core-dev-deploy/address/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/bav/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/claimed-identity/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/dcmaw/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/driving-licence/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/dwp-kbv/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/error-testing-1/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/error-testing-2/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/experian-kbv/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/face-to-face/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/fraud/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/nino/template.yaml
  di-ipv-credential-issuer-stub/core-dev-deploy/passport/template.yaml
  di-ipv-credential-issuer-stub/deploy/address/template.yaml
  di-ipv-credential-issuer-stub/deploy/bav/template.yaml
  di-ipv-credential-issuer-stub/deploy/claimed-identity/template.yaml
  di-ipv-credential-issuer-stub/deploy/dcmaw/template.yaml
  di-ipv-credential-issuer-stub/deploy/driving-licence/template.yaml
  di-ipv-credential-issuer-stub/deploy/dwp-kbv/template.yaml
  di-ipv-credential-issuer-stub/deploy/error-testing-1/template.yaml
  di-ipv-credential-issuer-stub/deploy/error-testing-2/template.yaml
  di-ipv-credential-issuer-stub/deploy/experian-kbv/template.yaml
  di-ipv-credential-issuer-stub/deploy/face-to-face/template.yaml
  di-ipv-credential-issuer-stub/deploy/fraud/template.yaml
  di-ipv-credential-issuer-stub/deploy/nino/template.yaml
  di-ipv-credential-issuer-stub/deploy/passport/template.yaml
Labels: none

BAU: Update EVCS access token endpoint
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/config/OrchestratorConfig.java
Labels: none

BAU Bump vitest packages
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

BAU: Use Jackson versions that actually exist
  di-ipv-credential-issuer-stub/build.gradle
Labels: none

PYIC-9153: Update AWS to try to fix transitive dependency with security alert
  di-ipv-credential-issuer-stub/build.gradle
Labels: none

PYIC-9145 Check all VCs not just CURRENT in processPostUserVCsRequestV2
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-9153: Update es build to resolve security issue
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

PYIC-9065: Move UK passport stub data out of the middle of the fraud data
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-9065: Make fraud success data more realistic
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-9065: Add fraud CRI stub CI data
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-9065: Update secrets
  .secrets.baseline
Labels: none

PYIC-9161: Validate state transitions only for VCs included in request
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-9065: Fix stub data
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-9102: Add new stub
  .github/workflows/cri-open-banking-stub.yml
  .github/workflows/deploy-credential-issuer-stub.yml
  di-ipv-credential-issuer-stub/core-dev-deploy/open-banking/template.yaml
  di-ipv-credential-issuer-stub/deploy/open-banking/template.yaml
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/config/CriType.java
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/data/CriStubDataOpenBanking.java
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/handlers/AuthorizeHandler.java
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-9102: Remove activityHistoryScore from OpenBanking dummy data
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-9173: Execute npm audit fix across all ts stubs.
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package-lock.json
Labels: IpvCore, TrustAndReuse

PYIC-9173: Update dependencies to latest
  update-ecs-env-vars/package-lock.json
  update-ecs-env-vars/package.json
Labels: IdentitySRE

Offboard leaver Ali
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/handlers/IpvHandler.java
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/utils/JwtBuilder.java
Labels: none

BAU: Fix dummy data naming for Open Banking
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/data/CriStubDataOpenBanking.java
Labels: none

BAU: Fix JWT Creator build Newer versions of amazoncorretto:17 don't include various utils
  public-jwk-creator/Dockerfile
Labels: IpvCore, IdentitySRE

BAU: Update Gradle and Java versions so they work together
  public-jwk-creator/build.gradle
  public-jwk-creator/gradle/wrapper/gradle-wrapper.jar
  public-jwk-creator/gradle/wrapper/gradle-wrapper.properties
  public-jwk-creator/gradlew
  public-jwk-creator/gradlew.bat
Labels: IpvCore, IdentitySRE

PYIC-9207: Remove evcs access key logging message.
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/utils/EvcsAccessTokenGenerator.java
Labels: none

PYIC-9207: Print first part of the key
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/utils/EvcsAccessTokenGenerator.java
Labels: none

PYIC-9207: Log public EVCS verify key.
  di-ipv-evcs-stub/lambdas/src/services/jwtService.ts
Labels: IpvCore, TrustAndReuse

PYIC-9207: Print first part of the key
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/utils/EvcsAccessTokenGenerator.java
Labels: none

PYIC-9207: Remove debug logging messages.
  di-ipv-evcs-stub/lambdas/src/services/jwtService.ts
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/utils/EvcsAccessTokenGenerator.java
Labels: IpvCore, TrustAndReuse

BAU: add pre-commit hooks ecosystem to dependabot
  .github/dependabot.yml
Labels: none

BAU: migrate core-team Node stubs from classic to latest Dynatrace layer
  di-ipv-ais-stub/deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
  di-ipv-dcmaw-async-stub/deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-sis-stub/deploy/template.yaml
  di-ipv-ticf-stub/deploy/template.yaml
Labels: IpvCore, TrustAndReuse

PYIC-9098: Fix typo
  .github/actions/deploy-evcs-stub/action.yaml
Labels: none

PYIC-9098: Run npm audit fix
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package-lock.json
  update-ecs-env-vars/package-lock.json
Labels: IpvCore, TrustAndReuse, IdentitySRE

PYIC-9098: Use correct node version on queue stub deployment
  .github/workflows/deploy-queue-stub-build.yml
Labels: none

PYIC-9195: Update humanfs manually as dependabot can't do it
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package-lock.json
Labels: IpvCore, TrustAndReuse

PYIC-9011: Clean old EVCS API endpoints and legacy code.
  .secrets.baseline
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-evcs-stub/lambdas/src/domain/requests/index.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/patchRequest.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/postRequest.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/postVcsRequest.ts
  di-ipv-evcs-stub/lambdas/src/handlers/createHandler.ts
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
  di-ipv-evcs-stub/lambdas/src/handlers/updateHandler.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/test/handlers/createHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/handlers/evcsHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/handlers/updateHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
  di-ipv-evcs-stub/openAPI/evcs-external.yaml
Labels: IpvCore, TrustAndReuse

Revert "PYIC-9011: Clean old EVCS API endpoints and legacy code."
  .secrets.baseline
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-evcs-stub/lambdas/src/domain/requests/index.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/patchRequest.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/postRequest.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/postVcsRequest.ts
  di-ipv-evcs-stub/lambdas/src/handlers/createHandler.ts
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
  di-ipv-evcs-stub/lambdas/src/handlers/updateHandler.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/test/handlers/createHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/handlers/evcsHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/handlers/updateHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
  di-ipv-evcs-stub/openAPI/evcs-external.yaml
Labels: IpvCore, TrustAndReuse

Bump @vitest to 5.0.0
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

PYIC-9197: Add field for adding F2F subject details for the async VC
  .secrets.baseline
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/domain/F2fDetails.java
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/handlers/AuthorizeHandler.java
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/handlers/RequestParamConstants.java
  di-ipv-credential-issuer-stub/src/main/resources/templates/authorize.mustache
  di-ipv-credential-issuer-stub/src/test/java/uk/gov/di/ipv/stub/cred/fixtures/TestFixtures.java
  di-ipv-credential-issuer-stub/src/test/java/uk/gov/di/ipv/stub/cred/handlers/AuthorizeHandlerTest.java
Labels: none

PYIC-9261: Add OpenBanking evidence test data.
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

PYIC-9261: Update strength score to 3 for failed OB check evidence data.
  di-ipv-credential-issuer-stub/src/main/resources/data/criStubEvidencePayloads.json
Labels: none

OJ-1294: fix - provides a claimed identity instead of null
  di-ipv-core-stub/src/main/java/uk/gov/di/ipv/stub/core/handlers/CoreStubHandler.java
Labels: Lime, Orange
