Repository govuk-one-login/ipv-stubs, changes with the labels that .github/labeler.yml gives for each.
All labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

.github/labeler.yml:

Lime:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'
        - 'experian-fraud-stub/**'

Orange:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'

IpvCore:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-ais-stub/**'
        - 'di-ipv-cimit-stub/**'
        - 'di-ipv-sis-stub/**'
        - 'di-ipv-evcs-stub/**'
        - 'di-ipv-ticf-stub/**'
        - 'di-ipv-credential-issuers-stub/**'
        - 'di-ipv-dcmaw-async-stub/**'
        - 'di-ipv-queue-stub/**'
        - 'public-jwk-creator/**'

TrustAndReuse:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-evcs-stub/**'

IdentitySRE:
  - changed-files:
      - any-glob-to-any-file:
        - 'update-ecs-env-vars/**'
        - 'public-jwk-creator/**'

PYIC-8757: Run tests after merging but before deploying
  .github/workflows/ais-stub.yml
  .github/workflows/cimit-stub.yml
  .github/workflows/core-cri-3rdparty-stub.yml
  .github/workflows/core-cri-preprod-stub.yml
  .github/workflows/core-cri-stub.yml
  .github/workflows/cri-address-stub.yml
  .github/workflows/cri-bav-stub.yml
  .github/workflows/cri-claimed-identity-stub.yml
  .github/workflows/cri-dcmaw-async-stub.yml
  .github/workflows/cri-dcmaw-stub.yml
  .github/workflows/cri-driving-licence-stub.yml
  .github/workflows/cri-dwp-kbv-stub.yml
  .github/workflows/cri-experian-kbv-stub.yml
  .github/workflows/cri-f2f-stub.yml
  .github/workflows/cri-fraud-stub.yml
  .github/workflows/cri-nino-stub.yml
  .github/workflows/cri-passport-stub.yml
  .github/workflows/cri-stub-test-build-and-push.yml
  .github/workflows/cri-ticf-stub.yml
  .github/workflows/deploy-orch-stub.yml
  .github/workflows/deploy-queue-stub-build.yml
  .github/workflows/deploy-update-ecs-env-vars.yml
  .github/workflows/evcs-stub.yml
  .github/workflows/public-jwk-creator.yml
  .github/workflows/sis-stub.yml
Labels: none

PYIC-8692 WIP
  di-ipv-cimit-stub-ts/lambdas/src/clients/dynamoDBClient.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/configService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorTypes.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/put-contra-indicators/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/contraIndicatorsService.test.ts
Labels: none

PYIC-8692 WIP
  di-ipv-cimit-stub-ts/lambdas/src/clients/dynamoDBClient.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/configService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorTypes.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/put-contra-indicators/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/contraIndicatorsService.test.ts
Labels: none

PYIC-8831: Update DCMAW Async Stub to simulate the use of an expired Drivers License
  di-ipv-dcmaw-async-stub/lambdas/src/domain/managementEnqueueRequest.ts
  di-ipv-dcmaw-async-stub/lambdas/src/domain/mockVc.ts
  di-ipv-dcmaw-async-stub/lambdas/src/handlers/managementEnqueueVcHandler.ts
Labels: IpvCore

PYIC-8831: default canned DL VC to have an expiry date past the VC issued at date.
  di-ipv-dcmaw-async-stub/lambdas/src/domain/managementEnqueueRequest.ts
  di-ipv-dcmaw-async-stub/lambdas/src/domain/mockVc.ts
Labels: IpvCore

PYIC-8831: add driving permit support and expiry override to openAPI
  di-ipv-dcmaw-async-stub/openAPI/dcmaw-async-external.yaml
Labels: IpvCore

PYIC-8831: add unit tests for buildMockVc
  di-ipv-dcmaw-async-stub/lambdas/src/domain/managementEnqueueRequest.ts
  di-ipv-dcmaw-async-stub/lambdas/src/domain/mockVc.ts
  di-ipv-dcmaw-async-stub/lambdas/test/domain/mockVc.test.ts
Labels: IpvCore

PYIC-8831: refactor buildMockVc to reduce variable re-assignment and move canned response data into their own files
  di-ipv-dcmaw-async-stub/lambdas/src/data/vcDocumentClaims.ts
  di-ipv-dcmaw-async-stub/lambdas/src/data/vcEvidenceClaims.ts
  di-ipv-dcmaw-async-stub/lambdas/src/data/vcUserClaims.ts
  di-ipv-dcmaw-async-stub/lambdas/src/domain/mockVc.ts
  di-ipv-dcmaw-async-stub/lambdas/test/domain/mockVc.test.ts
Labels: IpvCore

PYIC-8831: update README for the dcmaw async management endpoints
  di-ipv-dcmaw-async-stub/README.md
Labels: IpvCore

PYIC-8692: PutContraIndicatorHandler completed with tests
  .gitignore
  README.md
  di-ipv-cimit-stub-ts/lambdas/.npmrc.template
  di-ipv-cimit-stub-ts/lambdas/package-lock.json
  di-ipv-cimit-stub-ts/lambdas/package.json
  di-ipv-cimit-stub-ts/lambdas/src/clients/dynamoDBClient.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/configService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorTypes.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/postMitigationsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/put-contra-indicators/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/put-contra-indicators/putContraIndicatorsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/contraIndicatorsService.test.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/put-contra-indicators/putContraIndicatorsHandler.test.ts
Labels: none

PYIC-8692: Remove obsolete comments
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/put-contra-indicators/cimitStubItemService.ts
Labels: none

PYIC-8692: Move cimitStubItemService.ts to common folder
  di-ipv-cimit-stub-ts/lambdas/src/common/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/contraIndicatorsService.test.ts
Labels: none

PYIC-8692: Move TTL and sort key setting into cimitStubItemService
  di-ipv-cimit-stub-ts/lambdas/src/common/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/contraIndicatorsService.test.ts
Labels: none

PYIC-8692: Add remaining methods and tests to cimitStubItemService
  di-ipv-cimit-stub-ts/lambdas/src/common/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/cimitStubItemService.test.ts
Labels: none

PYIC-8692: Add PendingMitigationService and tests
  di-ipv-cimit-stub-ts/lambdas/src/common/configService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/pendingMitigationService.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/pendingMitigationService.test.ts
Labels: none

PYIC-8692: Add stubManagementHandler and tests
  di-ipv-cimit-stub-ts/lambdas/src/common/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/src/external-api/stub-management/service/userService.ts
  di-ipv-cimit-stub-ts/lambdas/src/external-api/stub-management/stubManagementHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/external-api/stub-management/service/userService.test.ts
  di-ipv-cimit-stub-ts/lambdas/test/external-api/stub-management/stubManagementHandler.test.ts
Labels: none

PYIC-8692: Add missing properties to tests
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692: Allow CI documents to be null
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
Labels: none

PYIC-8692 remove existing .npmrc
  di-ipv-cimit-stub-ts/.gitignore
  di-ipv-cimit-stub-ts/lambdas/.npmrc
Labels: none

PYIC-8692 removing redundant database method
  di-ipv-cimit-stub-ts/lambdas/src/common/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/pendingMitigationService.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/cimitStubItemService.test.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/pendingMitigationService.test.ts
  di-ipv-cimit-stub/lambdas/stub-management/src/test/java/uk/gov/di/ipv/core/stubmanagement/service/UserServiceTest.java
Labels: IpvCore

PYIC-8692 completed translation of postMitigationsHandler
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/post-mitigations/postMitigationsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
Labels: none

PYIC-8692: Refactor CimitStubItem creation
  di-ipv-cimit-stub-ts/lambdas/src/common/cimitStubItemService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub-ts/lambdas/src/external-api/stub-management/service/userService.ts
  di-ipv-cimit-stub-ts/lambdas/test/external-api/stub-management/service/userService.test.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/contraIndicatorsService.test.ts
Labels: none

PYIC-8831: Use correct scoring for DL fail
  di-ipv-dcmaw-async-stub/lambdas/src/data/vcEvidenceClaims.ts
Labels: IpvCore

PYIC-8692 Deploy TypeScript version of cimit-stub lambdas
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
Labels: IpvCore

PYIC-8831: inline credentialSubject into return object to avoid reassignment
  di-ipv-dcmaw-async-stub/lambdas/src/domain/mockVc.ts
Labels: IpvCore

PYIC-8692 cleanup trailing comments and console.log from translation
  di-ipv-cimit-stub-ts/lambdas/src/common/pendingMitigationService.ts
  di-ipv-cimit-stub-ts/lambdas/src/external-api/stub-management/service/userService.ts
  di-ipv-cimit-stub-ts/lambdas/src/external-api/stub-management/stubManagementHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/post-mitigations/postMitigationsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
Labels: none

PYIC-8831: re-name getFutureExpiryDateStringFromIssuedAt to getFutureExpiryDateStringFromNbf
  di-ipv-dcmaw-async-stub/lambdas/src/domain/mockVc.ts
Labels: IpvCore

PYIC-8866: Bump @aws-sdk/client-dynamodb to 3.968.0
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

PYIC-8866: Bump @aws-sdk/client-dynamodb and @aws-sdk/client-ssm to 3.968.0
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
Labels: IpvCore

PYIC-8874: Split TLS and SSL conditions for bucket access
  experian-fraud-stub/deploy/template.yaml
Labels: Lime

IPS-1670: core-cri-3rdparty-stub: migrate to Github App
  .github/workflows/core-cri-3rdparty-stub.yml
Labels: none

IPS-1670: core-cri-3rdparty-stub: add our branch for testing
  .github/workflows/core-cri-3rdparty-stub.yml
Labels: none

IPS-1670: core-cri-3rdparty-stub: update indent
  .github/workflows/core-cri-3rdparty-stub.yml
Labels: none

IPS-1670: core-cri-3rdparty-stub: update indent
  .github/workflows/core-cri-3rdparty-stub.yml
Labels: none

IPS-1670: core-cri-3rdparty-stub: comment out ref
  .github/workflows/core-cri-3rdparty-stub.yml
Labels: none

IPS-1670: core-cri-3rdparty-stub: update refs to secrets
  .github/workflows/core-cri-3rdparty-stub.yml
Labels: none

PYIC-8879: add custom state to AIS management handler request body and update responseBody persisted to dynamodb
  di-ipv-ais-stub/lambdas/src/handlers/managementHandler.ts
  di-ipv-ais-stub/lambdas/src/utils/dataLayer.ts
  di-ipv-ais-stub/lambdas/src/utils/types.d.ts
  di-ipv-ais-stub/lambdas/test/managementHandler.test.ts
  di-ipv-ais-stub/openAPI/ais-external.yaml
Labels: IpvCore

PYIC-8879: update documentations to reflect update in request body
  di-ipv-ais-stub/README.md
Labels: IpvCore

IPS-1670: core-cri-preprod-stu: migrate to Github App
  .github/workflows/core-cri-preprod-stub.yml
Labels: none

IPS-1670: core-cri-preprod-stu: update indent
  .github/workflows/core-cri-preprod-stub.yml
Labels: none
