Repository govuk-one-login/ipv-stubs, changes with the labels that .github/labeler.yml gives for each.
All labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

PYIC-8757: Add public-jwk--creator to tests
  settings.gradle
Labels: none

PYIC-8757: Add testing to update-ecs-env-vars deployment
  .github/workflows/deploy-update-ecs-env-vars.yml
  update-ecs-env-vars/package-lock.json
Labels: IdentitySRE

PYIC-8757: Test all projects individually in pre-merge-checks
  .github/workflows/pre-merge-checks.yml
  .github/workflows/test-java-project.yml
  di-ipv-cimit-stub/build.gradle
Labels: IpvCore

PYIC-8757: Add compile checks to TypeScript stub deployment workflows
  .github/workflows/ais-stub.yml
  .github/workflows/cimit-stub.yml
  .github/workflows/cri-dcmaw-async-stub.yml
  .github/workflows/cri-ticf-stub.yml
  .github/workflows/evcs-stub.yml
  .github/workflows/sis-stub.yml
Labels: none

PYIC-8757: All Java project deployment workflows run their own tests and stop on failure
  .github/workflows/cimit-stub.yml
  .github/workflows/core-cri-3rdparty-stub.yml
  .github/workflows/core-cri-preprod-stub.yml
  .github/workflows/core-cri-stub.yml
  .github/workflows/cri-address-stub.yml
  .github/workflows/cri-bav-stub.yml
  .github/workflows/cri-claimed-identity-stub.yml
  .github/workflows/cri-dcmaw-stub.yml
  .github/workflows/cri-driving-licence-stub.yml
  .github/workflows/cri-dwp-kbv-stub.yml
  .github/workflows/cri-experian-kbv-stub.yml
  .github/workflows/cri-f2f-stub.yml
  .github/workflows/cri-fraud-stub.yml
  .github/workflows/cri-nino-stub.yml
  .github/workflows/cri-passport-stub.yml
  .github/workflows/deploy-credential-issuer-stub.yml
  .github/workflows/deploy-orch-stub.yml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/public-jwk-creator.yml
Labels: none

PYIC-8757: Rename workflows for non-java stubs
  .github/workflows/dcmaw-async-stub.yml
  .github/workflows/ticf-stub.yml
Labels: none

PYIC-8757: Commonise CRI stub build logic
  .github/workflows/cri-address-stub.yml
  .github/workflows/cri-bav-stub.yml
  .github/workflows/cri-claimed-identity-stub.yml
  .github/workflows/cri-dcmaw-stub.yml
  .github/workflows/cri-driving-licence-stub.yml
  .github/workflows/cri-dwp-kbv-stub.yml
  .github/workflows/cri-experian-kbv-stub.yml
  .github/workflows/cri-f2f-stub.yml
  .github/workflows/cri-fraud-stub.yml
  .github/workflows/cri-nino-stub.yml
  .github/workflows/cri-passport-stub.yml
  .github/workflows/cri-stub-build-and-push.yml
Labels: none

PYIC-8757: Update gradle syntax
  public-jwk-creator/build.gradle
Labels: IpvCore, IdentitySRE

PYIC-8757: Fix workflow triggers
  .github/workflows/cimit-stub.yml
  .github/workflows/core-cri-3rdparty-stub.yml
  .github/workflows/core-cri-preprod-stub.yml
  .github/workflows/core-cri-stub.yml
  .github/workflows/deploy-credential-issuer-stub.yml
  .github/workflows/deploy-orch-stub.yml
  .github/workflows/public-jwk-creator.yml
Labels: none

PYIC-8920: upgrade @shelf/jest-dynamodb to 4.0.2 instead of 4.0.1
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
Labels: IpvCore

PYIC-8920: update jetty-webapp to 11.x
  di-ipv-core-stub/build.gradle
  experian-fraud-stub/build.gradle
Labels: Lime, Orange

Revert "Bump com.nimbusds:nimbus-jose-jwt from 9.21 to 9.37.4 in the gradle group across 1 directory"
  di-ipv-core-stub/build.gradle
  experian-fraud-stub/build.gradle
  public-jwk-creator/build.gradle
Labels: Lime, Orange, IpvCore, IdentitySRE

PYIC-8920: update com.nimbusds:nimbus-jose-jwt from 9.21 to 9.37.4
  public-jwk-creator/build.gradle
Labels: IpvCore, IdentitySRE

PYIC-8920: override org.eclipse.jetty:jetty-server transitive dependency with higher version to resolve security vulnerability
  public-jwk-creator/build.gradle
Labels: IpvCore, IdentitySRE

PYIC-8920: use a higher version of @aws-sdk/client-dynamodb which resolves a vulnerability on fast-xml-parser for ais stub
  di-ipv-ais-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/package-lock.json
Labels: IpvCore, TrustAndReuse

PYIC-8920: use a higher version of @aws-sdk/client-dynamodb which resolves a vulnerability on fast-xml-parser for ticf stub
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore

PYIC-8920: use a higher version of @aws-sdk/client-dynamodb and @aws-sdk/client-ssm which resolves a vulnerability on fast-xml-parser for dcmaw-async stub
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
Labels: IpvCore

PYIC-8920: use a higher version of @aws-sdk/client-dynamodb, @aws-sdk/lib-dynamodb and @aws-sdk/client-ssm which resolves a vulnerability on fast-xml-parser for cimit ts stub
  di-ipv-cimit-stub-ts/lambdas/package-lock.json
  di-ipv-cimit-stub-ts/lambdas/package.json
Labels: none

PYIC-8920: use a higher version of @aws-sdk/client-dynamodb, @aws-sdk/lib-dynamodb and @aws-sdk/client-ssm which resolves a vulnerability on fast-xml-parser for sis stub
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
Labels: IpvCore

PYIC-8920: use a higher version of @aws-sdk/client-dynamodb, @aws-sdk/lib-dynamodb and @aws-sdk/client-ssm which resolves a vulnerability on fast-xml-parser for evcs stub
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

PYIC-8920: use a higher version of @aws-sdk/lib-dynamodb which resolves a vulnerability on fast-xml-parser for ais and ticf stubs
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore

PYIC-8920: override io.netty:netty-codec-http to resolve CRLF injection vulnerability
  di-ipv-cimit-stub/lambdas/put-contra-indicators/build.gradle
  di-ipv-cimit-stub/lambdas/stub-management/build.gradle
  di-ipv-cimit-stub/lib/build.gradle
Labels: IpvCore

PYIC-8920: override org.eclipse.jetty:jetty-xml to resolve vulnerability
  public-jwk-creator/build.gradle
Labels: IpvCore, IdentitySRE

BAU - more expressive names for APIGW log groups for easier debugging
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
Labels: IpvCore

PYIC-8757: Fix up triggers to require successful tests
  .github/workflows/deploy-credential-issuer-stub.yml
Labels: none

PYIC-8901: Change incorrect format of the issuanceDate.
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/common/contraIndicatorsService.test.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8901: Change value passed to JTW payload exp.
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
Labels: none

PYIC-8901: Fix not awaiting asynchronous function.
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/post-mitigations/postMitigationsHandler.ts
Labels: none

PYIC-8901: Add CIMIT_PARAM_BASE_PATH env variable.
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
Labels: IpvCore

PYIC-8901: Point cimit api gateway at TS lambdas.
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
  di-ipv-cimit-stub/openAPI/cimit-external.yaml
  di-ipv-cimit-stub/openAPI/cimit-internal.yaml
Labels: IpvCore

Revert "PYIC-8901: Point cimit api gateway at TS lambdas."
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
  di-ipv-cimit-stub/openAPI/cimit-external.yaml
  di-ipv-cimit-stub/openAPI/cimit-internal.yaml
Labels: IpvCore

PYIC-8901 point api-gateway at Typescript lambdas
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
  di-ipv-cimit-stub/openAPI/cimit-external.yaml
  di-ipv-cimit-stub/openAPI/cimit-internal.yaml
Labels: IpvCore

PYIC-8913: Move common tests to correct folder
  di-ipv-cimit-stub/lambdas/test/common/cimitStubItemService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/contraIndicatorsService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/pendingMitigationService.test.ts
Labels: IpvCore

PYIC-8913: Fix wrong header values
  di-ipv-cimit-stub/lambdas/src/common/constants.ts
  di-ipv-cimit-stub/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub/lambdas/src/internal-api/post-mitigations/postMitigationsHandler.ts
  di-ipv-cimit-stub/lambdas/src/internal-api/put-contra-indicators/putContraIndicatorsHandler.ts
Labels: IpvCore

PYIC-8913: Add summary of stub behaviour to readme
  di-ipv-cimit-stub/README.md
Labels: IpvCore

PYIC-8913: De-duplicate UserMitigationRequest interface
  di-ipv-cimit-stub/lambdas/src/common/pendingMitigationService.ts
  di-ipv-cimit-stub/lambdas/src/external-api/stub-management/stubManagementHandler.ts
Labels: IpvCore

PYIC-8913: Create new dynamoDB table for CIMIT stub pre-mitigations
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
  di-ipv-cimit-stub/lambdas/src/common/configService.ts
  di-ipv-cimit-stub/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
Labels: IpvCore

PYIC-8913: Add ability to configure pre-mitigations
  di-ipv-cimit-stub/README.md
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
  di-ipv-cimit-stub/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub/lambdas/src/common/preMitigationService.ts
  di-ipv-cimit-stub/lambdas/src/external-api/stub-management/stubManagementHandler.ts
  di-ipv-cimit-stub/lambdas/test/common/contraIndicatorsService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/preMitigationService.test.ts
  di-ipv-cimit-stub/lambdas/test/external-api/stub-management/stubManagementHandler.test.ts
Labels: IpvCore

PYIC-8913: Update build paths so that SAM can find the package.json when building the lambdas
  di-ipv-cimit-stub/README.md
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
Labels: IpvCore

PYIC-8913: Fix pre-mitigations config to use POST
  di-ipv-cimit-stub/README.md
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
  di-ipv-cimit-stub/openAPI/cimit-external.yaml
Labels: IpvCore

.github/labeler.yml:

Lime:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'
        - 'experian-fraud-stub/**'

Orange:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'

IpvCore:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-ais-stub/**'
        - 'di-ipv-cimit-stub/**'
        - 'di-ipv-sis-stub/**'
        - 'di-ipv-evcs-stub/**'
        - 'di-ipv-ticf-stub/**'
        - 'di-ipv-credential-issuers-stub/**'
        - 'di-ipv-dcmaw-async-stub/**'
        - 'di-ipv-queue-stub/**'
        - 'public-jwk-creator/**'

TrustAndReuse:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-evcs-stub/**'

IdentitySRE:
  - changed-files:
      - any-glob-to-any-file:
        - 'update-ecs-env-vars/**'
        - 'public-jwk-creator/**'
