Repository govuk-one-login/ipv-stubs, changes with the labels that .github/labeler.yml gives for each.
All labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

PYIC-8657: TEST the labeler
  di-ipv-cimit-stub/README.md
Labels: IpvCore

PYIC-8657: TEST the labeler for another owner
  di-ipv-cimit-stub/README.md
  di-ipv-core-stub/README.MD
Labels: Lime, Orange, IpvCore

SPT-1699: EVCS Added unsignedVot to GET /identity
  di-ipv-evcs-stub/lambdas/src/domain/sharedTypes.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-8764: add invalid data for new DL details
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/data/CriStubDataDcmaw.java
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/data/DrivingLicences.java
Labels: none

BAU: Remove unused stub config
  .github/workflows/core-passport-stub.yml
Labels: none

BAU: Fix tests to work with JUnit 6
  di-ipv-credential-issuer-stub/src/test/java/uk/gov/di/ipv/stub/cred/handlers/AuthorizeHandlerTest.java
Labels: none

PYIC-8692 set up initial folders for new cimit stub
  .gitignore
  di-ipv-ais-stub/core-dev-deploy/template.yaml
  di-ipv-ais-stub/deploy/template.yaml
  di-ipv-cimit-stub-ts/core-dev-deploy/template.yaml
  di-ipv-cimit-stub-ts/deploy/template.yaml
  di-ipv-cimit-stub-ts/lambdas/.eslintrc.js
  di-ipv-cimit-stub-ts/lambdas/.prettierignore
  di-ipv-cimit-stub-ts/lambdas/babel.config.js
  di-ipv-cimit-stub-ts/lambdas/jest.config.test.js
  di-ipv-cimit-stub-ts/lambdas/package-lock.json
  di-ipv-cimit-stub-ts/lambdas/package.json
  di-ipv-cimit-stub-ts/lambdas/tsconfig.json
  di-ipv-cimit-stub-ts/openAPI/cimit-external.yaml
  di-ipv-cimit-stub-ts/openAPI/cimit-internal.yaml
Labels: IpvCore

PYIC-8692: add framework for getContraIndicatorCredentialHandler and its tests
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692: Fulfilled 200 response for getContraIndicatorCredentialHandler
  .pre-commit-config.yaml
  di-ipv-cimit-stub-ts/.gitignore
  di-ipv-cimit-stub-ts/lambdas/package-lock.json
  di-ipv-cimit-stub-ts/lambdas/package.json
  di-ipv-cimit-stub-ts/lambdas/src/clients/dynamoDBClient.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/configService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/jwtSigning.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
  di-ipv-cimit-stub/lambdas/get-contra-indicator-credential/src/main/java/uk/gov/di/ipv/core/getcontraindicatorcredential/GetContraIndicatorCredentialHandler.java
Labels: IpvCore

PYIC-8657: add test for single mitigated and unmitigated CI
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8657: add test for handling deduplication of CIs
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/jwtSigning.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 consolidate duplicate non-doc CIs and keep distinct document CIs separate
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 stub correctly fails with invalid CIMIT signing key
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 add additional check on CI de-duplication logic
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 set up initial folders for new cimit stub
  .gitignore
  di-ipv-cimit-stub-ts/lambdas/.eslintrc.js
  di-ipv-cimit-stub-ts/lambdas/.prettierignore
  di-ipv-cimit-stub-ts/lambdas/babel.config.js
  di-ipv-cimit-stub-ts/lambdas/jest.config.test.js
  di-ipv-cimit-stub-ts/lambdas/package-lock.json
  di-ipv-cimit-stub-ts/lambdas/package.json
  di-ipv-cimit-stub-ts/lambdas/tsconfig.json
  di-ipv-cimit-stub-ts/openAPI/cimit-external.yaml
  di-ipv-cimit-stub-ts/openAPI/cimit-internal.yaml
Labels: none

PYIC-8692: add framework for getContraIndicatorCredentialHandler and its tests
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692: Fulfilled 200 response for getContraIndicatorCredentialHandler
  .pre-commit-config.yaml
  di-ipv-cimit-stub-ts/.gitignore
  di-ipv-cimit-stub-ts/lambdas/package-lock.json
  di-ipv-cimit-stub-ts/lambdas/package.json
  di-ipv-cimit-stub-ts/lambdas/src/clients/dynamoDBClient.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/configService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/jwtSigning.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692: add test for single mitigated and unmitigated CI
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692: add test for handling deduplication of CIs
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/jwtSigning.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 consolidate duplicate non-doc CIs and keep distinct document CIs separate
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 stub correctly fails with invalid CIMIT signing key
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 add additional check on CI de-duplication logic
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 clean up handler tests for readability
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 refactor geContraIndicatorCredentialHandler for maintainability
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorTypes.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Labels: none

PYIC-8692 additional legibility fix
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
Labels: none

Revert "BAU: Bump com.nimbusds:oauth2-oidc-sdk from 11.30 to 11.30.1"
  di-ipv-cimit-stub/lambdas/get-contra-indicator-credential/build.gradle
  di-ipv-cimit-stub/lambdas/post-mitigations/build.gradle
  di-ipv-cimit-stub/lambdas/put-contra-indicators/build.gradle
  di-ipv-core-stub/build.gradle
  di-ipv-credential-issuer-stub/build.gradle
  di-ipv-orchestrator-stub/build.gradle
Labels: Lime, Orange, IpvCore

PYIC-8804: update js-yaml to 4.1.1 in package-lock.json for cimit-stub ts
  di-ipv-cimit-stub-ts/lambdas/package-lock.json
Labels: none

PYIC-8692 WIP
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/postMitigationsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
Labels: none

BAU: fix failing unit test
  di-ipv-credential-issuer-stub/src/test/java/uk/gov/di/ipv/stub/cred/auth/ClientJwtVerifierTest.java
Labels: none

BAU: run spotlessApply
  di-ipv-credential-issuer-stub/src/test/java/uk/gov/di/ipv/stub/cred/auth/ClientJwtVerifierTest.java
Labels: none

PYIC-8692 WIP
  di-ipv-cimit-stub-ts/lambdas/src/common/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/postMitigationsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
Labels: none

PYIC-8825: Disable running scripts during NPM install
  di-ipv-ais-stub/lambdas/.npmrc
  di-ipv-cimit-stub-ts/lambdas/.npmrc
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/.npmrc
  di-ipv-core-stub/deploy/cri-http-api-basic-auth/authorizer/.npmrc
  di-ipv-core-stub/deploy/cri-rest-api/.npmrc
  di-ipv-core-stub/deploy/cri-rest-api/authorizer/.npmrc
  di-ipv-dcmaw-async-stub/lambdas/.npmrc
  di-ipv-evcs-stub/lambdas/.npmrc
  di-ipv-queue-stub/enqueue-event/.npmrc
  di-ipv-sis-stub/lambdas/.npmrc
  di-ipv-ticf-stub/lambdas/.npmrc
  update-ecs-env-vars/.npmrc
Labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

PYIC-8692 WIP
  di-ipv-cimit-stub-ts/lambdas/src/common/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/postMitigationsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
Labels: none

BAU: Update deprecated docker image
  public-jwk-creator/Dockerfile
Labels: IpvCore, IdentitySRE

PYIC-8692 WIP
  di-ipv-cimit-stub-ts/lambdas/src/common/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/postMitigationsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
Labels: none

PYIC-8692 set up putContraIndicatorsHandler
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/put-contra-indicators/putContraIndicatorsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/put-contra-indicators/putContraIndicatorsHandler.test.ts
Labels: none

PYIC-8692 putContraIndicatorsHandler errors for missing request body
  di-ipv-cimit-stub-ts/lambdas/src/common/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/postMitigationsHandler/postMitigationsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/put-contra-indicators/putContraIndicatorsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/put-contra-indicators/putContraIndicatorsHandler.test.ts
Labels: none

PYIC-8692 correct error surfaces to putContraIndicatorsHandler
  di-ipv-cimit-stub-ts/lambdas/src/common/contraIndicatorsService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/put-contra-indicators/putContraIndicatorsHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/put-contra-indicators/putContraIndicatorsHandler.test.ts
Labels: none

PYIC-8757: Commonise CRI stub build logic
  .github/workflows/cri-address-stub.yml
  .github/workflows/cri-bav-stub.yml
  .github/workflows/cri-claimed-identity-stub.yml
  .github/workflows/cri-dcmaw-stub.yml
  .github/workflows/cri-driving-licence-stub.yml
  .github/workflows/cri-dwp-kbv-stub.yml
  .github/workflows/cri-experian-kbv-stub.yml
  .github/workflows/cri-f2f-stub.yml
  .github/workflows/cri-fraud-stub.yml
  .github/workflows/cri-nino-stub.yml
  .github/workflows/cri-passport-stub.yml
  .github/workflows/cri-stub-build-and-push.yml
Labels: none

PYIC-8757: Extract test and build logic
  .github/workflows/pre-merge-checks.yml
  .github/workflows/test-and-build.yml
Labels: none

.github/labeler.yml:

Lime:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'
        - 'experian-fraud-stub/**'

Orange:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'

IpvCore:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-ais-stub/**'
        - 'di-ipv-cimit-stub/**'
        - 'di-ipv-sis-stub/**'
        - 'di-ipv-evcs-stub/**'
        - 'di-ipv-ticf-stub/**'
        - 'di-ipv-credential-issuers-stub/**'
        - 'di-ipv-dcmaw-async-stub/**'
        - 'di-ipv-queue-stub/**'
        - 'public-jwk-creator/**'

TrustAndReuse:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-evcs-stub/**'

IdentitySRE:
  - changed-files:
      - any-glob-to-any-file:
        - 'update-ecs-env-vars/**'
        - 'public-jwk-creator/**'
