Repository govuk-one-login/ipv-stubs, changes with the labels that .github/labeler.yml gives for each.
All labels: Lime, Orange, IpvCore, TrustAndReuse, IdentitySRE

.github/labeler.yml:

Lime:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'
        - 'experian-fraud-stub/**'

Orange:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-core-stub/**'

IpvCore:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-ais-stub/**'
        - 'di-ipv-cimit-stub/**'
        - 'di-ipv-sis-stub/**'
        - 'di-ipv-evcs-stub/**'
        - 'di-ipv-ticf-stub/**'
        - 'di-ipv-credential-issuers-stub/**'
        - 'di-ipv-dcmaw-async-stub/**'
        - 'di-ipv-queue-stub/**'
        - 'public-jwk-creator/**'

TrustAndReuse:
  - changed-files:
      - any-glob-to-any-file:
        - 'di-ipv-evcs-stub/**'

IdentitySRE:
  - changed-files:
      - any-glob-to-any-file:
        - 'update-ecs-env-vars/**'
        - 'public-jwk-creator/**'

PYIC-8992: upgrade orch-stub to javalin v7
  di-ipv-orchestrator-stub/build.gradle
  di-ipv-orchestrator-stub/src/main/java/uk/gov/di/ipv/stub/orc/Orchestrator.java
Labels: none

PYIC-8992: upgrade cri stubs to javalin v7
  di-ipv-credential-issuer-stub/build.gradle
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/CredentialIssuer.java
Labels: none

PYIC-8992: migrate public credential jwk creator to javalin v7 instead of spark-core
  public-jwk-creator/build.gradle
  public-jwk-creator/src/main/java/Main.java
  public-jwk-creator/src/main/java/uk/gov/di/ipv/publiccredentialjwkcreator/App.java
  public-jwk-creator/src/main/java/uk/gov/di/ipv/publiccredentialjwkcreator/PublicCredentialJwkCreator.java
Labels: IpvCore, IdentitySRE

PYIC-8991: Bump eslint to 10.0.3. - AIS
  di-ipv-ais-stub/lambdas/package-lock.json
  di-ipv-ais-stub/lambdas/package.json
Labels: IpvCore

PYIC-8991: Apply eslint and prettier fixes. - AIS
  di-ipv-ais-stub/lambdas/eslint.config.mjs
Labels: IpvCore

PYIC-8991: Bump eslint to 10.0.3. - SIS
  di-ipv-sis-stub/lambdas/package-lock.json
  di-ipv-sis-stub/lambdas/package.json
Labels: IpvCore

PYIC-8991: Bump eslint to 10.0.3. - TICF
  di-ipv-ticf-stub/lambdas/.eslintrc.js
  di-ipv-ticf-stub/lambdas/eslint.config.cjs
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
  di-ipv-ticf-stub/lambdas/src/handlers/ticfHandler.ts
  di-ipv-ticf-stub/lambdas/src/management/handlers/managementHandler.ts
Labels: IpvCore

PYIC-8991: Add eslint checks to pre-merge GHA. - CIMIT
  .github/workflows/pre-merge-checks.yml
  di-ipv-cimit-stub/lambdas/package.json
Labels: IpvCore

PYIC-8991: Bump eslint to 10.0.3. - EVCS
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

PYIC-8991: Add eslint checks to pre-merge GHA. - AIS
  .github/workflows/pre-merge-checks.yml
  di-ipv-ais-stub/lambdas/package.json
Labels: IpvCore

PYIC-8991: Bump eslint to 10.0.3. - DCMAW-ASYNC
  di-ipv-dcmaw-async-stub/lambdas/.eslintrc.js
  di-ipv-dcmaw-async-stub/lambdas/eslint.config.cjs
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
  di-ipv-dcmaw-async-stub/lambdas/src/common/config.ts
Labels: IpvCore

PYIC-8991: Add eslint checks to pre-merge GHA. - SIS
  .github/workflows/pre-merge-checks.yml
  di-ipv-sis-stub/lambdas/package.json
Labels: IpvCore

PYIC-8991: Add eslint checks to pre-merge GHA. - EVCS
  .github/workflows/pre-merge-checks.yml
  di-ipv-evcs-stub/lambdas/package.json
Labels: IpvCore, TrustAndReuse

PYIC-8991: Upgrade eslint to 10.0.3. - CIMIT
  di-ipv-cimit-stub/lambdas/.eslintrc.js
  di-ipv-cimit-stub/lambdas/eslint.config.cjs
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/src/common/contraIndicatorsService.ts
Labels: IpvCore

PYIC-8991: Apply eslint and prettier fixes - CIMIT
  di-ipv-cimit-stub/lambdas/test/common/contraIndicatorsService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/preMitigationService.test.ts
  di-ipv-cimit-stub/lambdas/test/external-api/stub-management/stubManagementHandler.test.ts
Labels: IpvCore

PYIC-8991: Add eslint checks to pre-merge GHA. - TICF
  .github/workflows/pre-merge-checks.yml
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore

PYIC-8991: Add comment to .cjs files that it should be renamed to .mjc once migration to es modules will be completed.
  di-ipv-cimit-stub/lambdas/eslint.config.cjs
  di-ipv-dcmaw-async-stub/lambdas/eslint.config.cjs
  di-ipv-ticf-stub/lambdas/eslint.config.cjs
Labels: IpvCore

PYIC-8974: migrate CIMIT stub to Vitest/ESM
  di-ipv-cimit-stub/core-dev-deploy/template.yaml
  di-ipv-cimit-stub/deploy/template.yaml
  di-ipv-cimit-stub/lambdas/babel.config.js
  di-ipv-cimit-stub/lambdas/eslint.config.mjs
  di-ipv-cimit-stub/lambdas/jest.config.test.js
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/test/common/cimitStubItemService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/contraIndicatorsService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/pendingMitigationService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/preMitigationService.test.ts
  di-ipv-cimit-stub/lambdas/test/external-api/stub-management/service/userService.test.ts
  di-ipv-cimit-stub/lambdas/test/external-api/stub-management/stubManagementHandler.test.ts
  di-ipv-cimit-stub/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
  di-ipv-cimit-stub/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
  di-ipv-cimit-stub/lambdas/test/internal-api/put-contra-indicators/putContraIndicatorsHandler.test.ts
  di-ipv-cimit-stub/lambdas/tsconfig.json
  di-ipv-cimit-stub/lambdas/vitest.config.ts
Labels: IpvCore

PYIC-8974: migrate DynamoDB tests to Vitest and aws-sdk-client-mock
  di-ipv-cimit-stub/lambdas/eslint.config.cjs
  di-ipv-cimit-stub/lambdas/package-lock.json
  di-ipv-cimit-stub/lambdas/package.json
  di-ipv-cimit-stub/lambdas/test/common/cimitStubItemService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/contraIndicatorsService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/pendingMitigationService.test.ts
  di-ipv-cimit-stub/lambdas/test/common/preMitigationService.test.ts
  di-ipv-cimit-stub/lambdas/test/external-api/stub-management/service/userService.test.ts
  di-ipv-cimit-stub/lambdas/test/external-api/stub-management/stubManagementHandler.test.ts
  di-ipv-cimit-stub/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
  di-ipv-cimit-stub/lambdas/test/internal-api/post-mitigations/postMitigationsHandler.test.ts
  di-ipv-cimit-stub/lambdas/test/internal-api/put-contra-indicators/putContraIndicatorsHandler.test.ts
  di-ipv-cimit-stub/lambdas/test/setup.ts
  di-ipv-cimit-stub/lambdas/vitest.config.ts
Labels: IpvCore

PYIC-8974: Tidy up: add missing expectation and resolve ESLint directive errors
  di-ipv-cimit-stub/lambdas/test/common/cimitStubItemService.test.ts
  di-ipv-cimit-stub/lambdas/test/external-api/stub-management/stubManagementHandler.test.ts
Labels: IpvCore

PYIC-8973: migrate DCMAW stub to Vitest/ESM
  di-ipv-dcmaw-async-stub/core-dev-deploy/template.yaml
  di-ipv-dcmaw-async-stub/deploy/template.yaml
  di-ipv-dcmaw-async-stub/lambdas/eslint.config.cjs
  di-ipv-dcmaw-async-stub/lambdas/eslint.config.mjs
  di-ipv-dcmaw-async-stub/lambdas/jest.config.js
  di-ipv-dcmaw-async-stub/lambdas/package-lock.json
  di-ipv-dcmaw-async-stub/lambdas/package.json
  di-ipv-dcmaw-async-stub/lambdas/test/common/errorReporting.test.ts
  di-ipv-dcmaw-async-stub/lambdas/test/domain/mockVc.test.ts
  di-ipv-dcmaw-async-stub/lambdas/test/handlers/credentialHandler.test.ts
  di-ipv-dcmaw-async-stub/lambdas/test/handlers/tokenHandler.test.ts
  di-ipv-dcmaw-async-stub/lambdas/tsconfig.json
  di-ipv-dcmaw-async-stub/lambdas/vitest.config.ts
Labels: IpvCore

PYIC-8973: Update .secrets.baseline file
  .secrets.baseline
Labels: none

PYIC-8975: update *.test.ts files to use vitest instead of jest
  di-ipv-ticf-stub/lambdas/test/managementHandler.test.ts
  di-ipv-ticf-stub/lambdas/test/ticfHandler.test.ts
Labels: IpvCore

PYIC-8975: convert eslint.config.cjs to ESM and add extra prettier eslint config to align with other stubs
  di-ipv-ticf-stub/lambdas/eslint.config.mjs
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore

PYIC-8975: upgrade jose to v6
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore

SPT-1817: Added SSM Parameter caching using layer
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-evcs-stub/lambdas/src/common/ssmParameter.ts
  di-ipv-evcs-stub/lambdas/test/evcsHandler.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-8973: correct jose imports for version upgrade
  di-ipv-dcmaw-async-stub/lambdas/src/domain/signedJwt.ts
  di-ipv-dcmaw-async-stub/lambdas/src/handlers/managementEnqueueVcHandler.ts
Labels: IpvCore

BAU: Put @aws-sdk/client-ssm in as an explicit dependency as it's required by @aws-lambda-powertools/parameters
  di-ipv-ticf-stub/lambdas/package-lock.json
  di-ipv-ticf-stub/lambdas/package.json
Labels: IpvCore

SPT-1817: Refactored to use env instead of ssm
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/src/services/jwtService.ts
  di-ipv-evcs-stub/lambdas/test/evcsHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

SPT-1817: Refactored to use env instead of ssm
  di-ipv-evcs-stub/core-dev-deploy/template.yaml
  di-ipv-evcs-stub/deploy/template.yaml
  di-ipv-evcs-stub/lambdas/package-lock.json
  di-ipv-evcs-stub/lambdas/package.json
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/src/services/jwtService.ts
  di-ipv-evcs-stub/lambdas/test/evcsHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Add new properties to /identity POST endpoint's requestBody.
  di-ipv-evcs-stub/openAPI/evcs-external.yaml
Labels: IpvCore, TrustAndReuse

PYIC-8458: Update PostIdentityRequest object for /identity POST endpoint.
  di-ipv-evcs-stub/lambdas/src/domain/requests/identityEndpointRequests.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Update PostIdentityRequest object for /identity POST endpoint.
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Add StateTransition object.
  di-ipv-evcs-stub/lambdas/src/domain/enums/vcState.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Move VcDetails to it's own file
  di-ipv-evcs-stub/lambdas/src/domain/requests/identityEndpointRequests.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/postRequest.ts
  di-ipv-evcs-stub/lambdas/src/domain/serviceResponse.ts
  di-ipv-evcs-stub/lambdas/src/domain/sharedTypes.ts
  di-ipv-evcs-stub/lambdas/src/domain/vcDetails.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Make service response creation more consistent
  di-ipv-evcs-stub/lambdas/src/domain/serviceResponse.ts
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Add domain objects and type checks
  di-ipv-evcs-stub/lambdas/src/domain/requests/patchVcsRequest.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/postVcsRequest.ts
  di-ipv-evcs-stub/lambdas/src/domain/vcDetails.ts
  di-ipv-evcs-stub/lambdas/src/domain/vcPatchDetails.ts
Labels: IpvCore, TrustAndReuse

PYIC-9002: Move test files to subdirectory
  di-ipv-evcs-stub/lambdas/test/handlers/evcsHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/handlers/evcsManagementHandler.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Commit message to be created.
  di-ipv-evcs-stub/lambdas/src/common/utils.ts
  di-ipv-evcs-stub/lambdas/src/domain/enums/statusCodes.ts
  di-ipv-evcs-stub/lambdas/src/domain/enums/vcState.ts
  di-ipv-evcs-stub/lambdas/src/domain/requests/identityEndpointRequests.ts
  di-ipv-evcs-stub/lambdas/src/handlers/evcsHandler.ts
  di-ipv-evcs-stub/lambdas/src/services/evcsService.ts
  di-ipv-evcs-stub/lambdas/test/evcsHandler.test.ts
  di-ipv-evcs-stub/lambdas/test/services/evcsService.test.ts
Labels: IpvCore, TrustAndReuse

PYIC-8458: Commit message to be created.
  di-ipv-evcs-stub/lambdas/src/services/validateVcsStateTransitions.ts
Labels: IpvCore, TrustAndReuse
