Repository govuk-one-login/ipv-stubs, changes with the owners that CODEOWNERS names for each.
All owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/trust-and-reuse-leads, @govuk-one-login/trust-and-reuse-team

CODEOWNERS:

* @govuk-one-login/identity-sre @govuk-one-login/core-team
/di-ipv-ais-stub/ @govuk-one-login/core-team
/di-piv-cimit-stub/ @govuk-one-login/core-team
/di-ipv-core-stub/ @govuk-one-login/cri-lime-team @govuk-one-login/cri-orange-team
/di-ipv-credential-issuer-stub/ @govuk-one-login/core-team
/di-ipv-dcmaw-async-stub/ @govuk-one-login/core-team
/di-ipv-evcs-stub/ @govuk-one-login/core-team @govuk-one-login/trust-and-reuse-leads @govuk-one-login/trust-and-reuse-team
/di-ipv-orchestrator-stub/ @govuk-one-login/core-team
/di-ipv-queue-stub/ @govuk-one-login/core-team
/di-ipv-sis-stub/ @govuk-one-login/core-team
/di-ipv-ticf-stub/ @govuk-one-login/core-team
/experian-fraud-stub/ @govuk-one-login/cri-lime-team
/update-ecs-env-vars/ @govuk-one-login/identity-sre

# Github workflows
/.github/actions/deploy-evcs-stub/ @govuk-one-login/core-team @govuk-one-login/trust-and-reuse-leads @govuk-one-login/trust-and-reuse-team
/.github/workflows/ @govuk-one-login/core-team
/.github/workflows/core-cri-3rdparty-stub.yml @govuk-one-login/cri-lime-team @govuk-one-login/cri-orange-team
/.github/workflows/core-cri-preprod-stub.yml @govuk-one-login/cri-lime-team @govuk-one-login/cri-orange-team
/.github/workflows/core-cri-stub.yml @govuk-one-login/cri-lime-team @govuk-one-login/cri-orange-team
/.github/workflows/core-passport-stub.yml @govuk-one-login/cri-lime-team @govuk-one-login/cri-orange-team
/.github/workflows/deploy-update-ecs-env-vars.yml @govuk-one-login/identity-sre
/.github/workflows/evcs-stub.yml @govuk-one-login/core-team @govuk-one-login/trust-and-reuse-leads @govuk-one-login/trust-and-reuse-team
/.github/workflows/gradle_graph.yml @govuk-one-login/identity-sre
/.github/workflows/public-jwk-creator.yml @govuk-one-login/identity-sre
/.github/workflows/template_checks.yml @govuk-one-login/identity-sre

PYIC-8657: add README
  README.md
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8657: add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8657: commit to test the labeller
  di-ipv-credential-issuer-stub/README.MD
Owners: @govuk-one-login/core-team

Revert "PYIC-8657: commit to test the labeller"
  di-ipv-credential-issuer-stub/README.MD
Owners: @govuk-one-login/core-team

PYIC-8657: correct syntax fir labeler config
  .github/labeler.yml
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8657: update labeler workflow to include checkout step
  .github/workflows/labeler.yml
Owners: @govuk-one-login/core-team

Revert "Revert "PYIC-8657: commit to test the labeller""
  di-ipv-credential-issuer-stub/README.MD
Owners: @govuk-one-login/core-team

Revert "Revert "Revert "PYIC-8657: commit to test the labeller"""
  di-ipv-credential-issuer-stub/README.MD
Owners: @govuk-one-login/core-team

PYIC-8657: update labeler workflow to run on push
  .github/workflows/labeler.yml
Owners: @govuk-one-login/core-team

Revert "Revert "Revert "Revert "PYIC-8657: commit to test the labeller""""
  di-ipv-credential-issuer-stub/README.MD
Owners: @govuk-one-login/core-team

Revert "Revert "Revert "Revert "Revert "PYIC-8657: commit to test the labeller"""""
  di-ipv-credential-issuer-stub/README.MD
Owners: @govuk-one-login/core-team

PYIC-8657: add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8657: update labeler workflow to include checkout step
  .github/workflows/labeler.yml
Owners: @govuk-one-login/core-team

PYIC-8657: update labeler workflow triggers
  .github/workflows/labeler.yml
Owners: @govuk-one-login/core-team

PYIC-8657: TEST commit for labeler
  di-ipv-credential-issuer-stub/README.MD
Owners: @govuk-one-login/core-team

Revert "PYIC-8657: TEST commit for labeler"
  di-ipv-credential-issuer-stub/README.MD
Owners: @govuk-one-login/core-team

PYIC-8657: self-review the README
  README.md
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8692: Fulfilled 200 response for getContraIndicatorCredentialHandler
  .pre-commit-config.yaml
  di-ipv-cimit-stub-ts/.gitignore
  di-ipv-cimit-stub-ts/lambdas/src/common/configService.ts
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/apiResponseBuilder.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/exceptions.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/jwtSigning.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8657: add test for single mitigated and unmitigated CI
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8657: add test for handling deduplication of CIs
  di-ipv-cimit-stub-ts/lambdas/src/common/dataService.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/jwtSigning.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8692 WIP
  di-ipv-cimit-stub-ts/lambdas/src/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.ts
  di-ipv-cimit-stub-ts/lambdas/test/internal-api/get-contra-indicator-credential/getContraIndicatorCredentialHandler.test.ts
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team

PYIC-8672: Remove HMRC KBV CRI stub
  .github/workflows/cri-hmrc-kbv-stub.yml
  di-ipv-core-stub/README.MD
  di-ipv-core-stub/deploy/cri-3rdparty/template.yaml
  di-ipv-core-stub/deploy/cri-preprod/template.yaml
  di-ipv-core-stub/deploy/cri/template.yaml
  di-ipv-core-stub/src/main/java/uk/gov/di/ipv/stub/core/config/credentialissuer/CredentialIssuer.java
  di-ipv-core-stub/src/main/java/uk/gov/di/ipv/stub/core/handlers/CoreStubHandler.java
  di-ipv-core-stub/src/main/resources/templates/edit-user.mustache
  di-ipv-credential-issuer-stub/core-dev-deploy/hmrc-kbv/template.yaml
  di-ipv-credential-issuer-stub/deploy/hmrc-kbv/template.yaml
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/data/CriStubDataHmrcKbv.java
  di-ipv-credential-issuer-stub/src/main/java/uk/gov/di/ipv/stub/cred/handlers/AuthorizeHandler.java
  update-ecs-env-vars/deploy/template.yaml
Owners: @govuk-one-login/core-team, @govuk-one-login/cri-lime-team, @govuk-one-login/cri-orange-team, @govuk-one-login/identity-sre

PYIC-8657: fix grammatical errors
  README.md
Owners: @govuk-one-login/identity-sre, @govuk-one-login/core-team
